<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
 <!--  Data Source=184.168.194.75;Initial Catalog=RIL;Integrated Security=False;User ID=rilsa;Password=Rampusril4;Connect Timeout=15;Encrypt=False;Packet Size=4096
-->    <add name="ServidorBD" connectionString="Data Source=184.168.194.75;Integrated Security=False;Initial Catalog=RIL;User ID=rilsa;Password=Rampusril4;Connect Timeout=15;Encrypt=False;Packet Size=4096" providerName="Sql.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <customErrors mode="Off"/>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <webServices>
      <protocols>
        <add name="HttpGet"/>
        <add name="HttpPost"/>
      </protocols>
    </webServices>
  </system.web>

</configuration>
